html,
body
  height: 100%
  color: $primary

a
  color: $primary
  text-decoration: none

.section
  padding: rem(15)
  text-align: center

.section-icon
  font-size: rem(150)
  vertical-align: middle

.section-title
  font-size: rem(60)
  margin-left: rem(20)
  vertical-align: middle
