html,
body
  height: 100%
  color: $primary

a
  color: $primary
  text-decoration: none

.section
  padding: rem(10)
  text-align: center

.section-title
  font-size: rem(60)
  font-weight: bolder
  margin: rem(50) 0 rem(30) 0
  vertical-align: middle

  &:before
    font-size: rem(150)
    vertical-align: middle
    margin:
      right: rem(20)
      top: -(rem(40))
    display: inline-block

.skill-list
  list-style-type: none
  padding-top: rem(45)
  text-align: left

.skill
  border-radius: rem(20)
  height: rem(15)
  margin-bottom: rem(60)

  &:before
    border-radius: rem(20)
    box-shadow: 0px 0px 10px 1px rgba(0,198,255,0.4)
    content: ''
    display: block
    height: rem(11)
    margin-left: 0.3%
    margin-top: rem(2)
    position: relative
  
  em
    font-size: rem(25)
    font-weight: bolder
    position: relative
    top: rem(-45)

.default-level:before
  width: 0

.study-level:before
  width: 20%

.padawan-level:before
  width: 40%

.work-level:before
  width: 60%

.specialist-level:before
  width: 80%

.jedi-level:before
  width: 99.4%
