header
  background-color: $header-bg-color
  height: 100%
  color: $header-text-color

.header-info
  @include align(both)
  width: 100%

  h1
    margin: 0 0 px-to-rem(48) 0

  h2
    margin: 0

.author-name
  font-size: px-to-rem($author-name-font-size)

.author-title
  font-size: px-to-rem($author-title-font-size)

.profile-list
  height: px-to-rem($social-icon-size * 1.3)
  line-height: px-to-rem($social-icon-size * 1.3)
  margin: 0
  vertical-align: bottom

  li
    transition: $transition-default
    display: inline-block
    font-size: px-to-rem($social-icon-size)
    list-style: none
    vertical-align: bottom

    &:hover
      transition: $transition-default
      color: #fff
      font-size: px-to-rem($social-icon-size * 1.2)

  a 
    color: $header-text-color
    display: block
    position: relative
    width: px-to-rem($social-icon-size * 1.13)

    &:before
      vertical-align: bottom 
