// EM base - don't change this
$font-size-base: 16px // default value in browsers

// Colors
$primary: #eee
$secondary: #222

$back-end: #0091c2
$mobile: #00678a
$db: #f5c200
$devops: #ffa400
$methodologies: #ff7d00
$others: #07c900
$contact: #fff
$footer: #222

$footer-links: #fffb00


// Header settings
$header-bg-color: $secondary
$header-text-color: $primary
$author-name-font-size: 96
$author-title-font-size: 40
$social-icon-size: 112

// Bio settings
$bio-bg-color: #fff
$bio-icon-size: 320
$bio-font-size: 27
$bio-avatar-radius: 4%
$bio-text-alignment: justify

// Front-end settings
$front-end-bg-color: #0ac2ff

// Skills settings
$skill-bar-height: 15
$skill-inner-bar-gap: 2
$skill-rouded: true
$skill-shadow: 0px 0px 10px 1px rgba(0,198,255,0.4)
$skill-font-size: 40

// Others
$transition-default: all 0.3s ease-in-out