// EM base - don't change this
$font-size-base: 16px // default value in browsers

// Colors
$primary: #eee
$secondary: #222

$bio: #fff
$front-end: #0ac2ff
$back-end: #0091c2
$mobile: #00678a
$db: #f5c200
$devops: #ffa400
$methodologies: #ff7d00
$others: #07c900
$contact: #fff
$footer: #222

$footer-links: #fffb00


// Header settings
$header-bg-color: $secondary
$header-text-color: $primary
$author-name-font-size: 96
$author-title-font-size: 40
$social-icon-size: 112


// Others
$transition-default: all 0.3s ease-in-out