{% assign skills = site.back-end | sort: 'level' | reverse %}
<section id="back-end" class="section back-end">
  <i class="section-icon icon-code"></i>
  <span class="section-title">Back-end</span>
  <ul class="skill-list">
    {% for skill in skills %}
      <li class="back-skill">
        <div class="expand back-level {% include _skill-level-css.html level=skill.level  %}"></div>
        <em>{{ skill.name }} - {% include _skill-level-name.html level=skill.level  %}</em>
      </li>
    {% endfor %}
  </ul>
</section>
