<section id="contact" class="section contact">
  <i class="section-icon icon-at-sign"></i>
  <span class="section-title">Contact</span>
  <div class="form-panel">
    <form action="https://formspree.io/{{ site.email }}" method="POST" target="_blank">
      <input type="email" name="email" placeholder="Your email">
      <textarea name="message" placeholder="Your message" onkeyup="adjust_textarea(this)"></textarea>
      <button type="submit">Send</button>
    </form>
  </div>
</section>

<script type="text/javascript">
  function adjust_textarea(textarea) {
    textarea.style.height = "20px";
    textarea.style.height = (textarea.scrollHeight)+"px";
  }
</script>
