<section id="contact" class="section contact">
  <h3 class="section-title icon-at-sign">Contact</h3>
  <form action="https://formspree.io/{{ site.email }}" method="POST" target="_blank">
    <fieldset class="form-panel">
      <label for="email" class="screen-reader">Email:</label>
      <input id="email" type="email" name="email" placeholder="Your email" required>
      <label for="message" class="screen-reader">Message:</label>
      <textarea id="message" name="message" placeholder="Your message" onkeyup="adjust_textarea(this)" required></textarea>
      <button type="submit">Send</button>      
    </fieldset>
  </form>
</section>

<script type="text/javascript">
  function adjust_textarea(textarea) {
    textarea.style.height = "20px";
    textarea.style.height = (textarea.scrollHeight)+"px";
  }
</script>
