<header class="section">
{% include navigation-menu.html %}
<h1>{{ site.author }}</h1>
<h2>{{ site.author-title }}</h2>
<p>
  {% if site.email %}
    <a href="mailto:{{ site.email }}">
      <i class="svg-icon email"></i>
    </a>
  {% endif %}

  {% if site.linkedin %}
    <a href="https://www.linkedin.com/in/{{ site.linkedin }}" target="_blank">
      <i class="svg-icon linkedin"></i>
    </a>
  {% endif %}

  {% if site.github %}
    <a href="https://github.com/{{ site.github }}" target="_blank">
      <i class="svg-icon github"></i>
    </a>
  {% endif %}

  {% if site.twitter %}
    <a href="https://www.twitter.com/{{ site.twitter }}" target="_blank">
      <i class="svg-icon twitter"></i>
    </a>
  {% endif %}

  {% if site.facebook %}
    <a href="https://www.facebook.com/{{ site.facebook }}" target="_blank">
      <i class="svg-icon facebook"></i>
    </a>
  {% endif %}

  {% if site.googleplus %}
    <a href="https://plus.google.com/{{ site.googleplus }}" target="_blank">
      <i class="svg-icon googleplus"></i>
    </a>
  {% endif %}
</p>
</header>
