<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="./css/main.css">
  <meta name="description" content="{{ site.description }}">
  <link rel="author" href="https://plus.google.com/{{ site.gplus_username }}?rel=author">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@{{ site.twitter_username }}">
  <meta name="twitter:title" content="{{ site.title }}">
  <meta name="twitter:description" content="{{ site.description }}">
  <meta property="twitter:image:src" content="{{ "/assets/images/site-shared-image.png" | prepend: site.baseurl | prepend: site.url }}">

  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <meta property="og:title" content="{{ site.title }}">
  <meta property="og:image" content="{{ "/assets/images/site-shared-image.png" | prepend: site.baseurl | prepend: site.url }}">
  <meta property="og:description" content="{{ site.description }}">
  <meta property="og:site_name" content="{{ site.title }}">

  <meta itemprop="name" content="{{ site.title }}"/>
  <meta itemprop="description" content="{{ site.description }}">
  <meta itemprop="image" content="{{ "/assets/images/site-shared-image.png" | prepend: site.baseurl | prepend: site.url }}"/>

  <link rel="shortcut icon" href="{{site.baseurl}}/assets/images/icons/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" href="{{site.baseurl}}/assets/images/icons/apple-icon.png" />
  <link rel="apple-touch-icon" sizes="57x57" href="{{site.baseurl}}/assets/images/icons/apple-icon-57x57.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="{{site.baseurl}}/assets/images/icons/apple-icon-72x72.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="{{site.baseurl}}/assets/images/icons/apple-icon-114x114.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="{{site.baseurl}}/assets/images/icons/apple-icon-144x144.png" />
  <link rel="apple-touch-icon" sizes="60x60" href="{{site.baseurl}}/assets/images/icons/apple-icon-60x60.png" />
  <link rel="apple-touch-icon" sizes="120x120" href="{{site.baseurl}}/assets/images/icons/apple-icon-120x120.png" />
  <link rel="apple-touch-icon" sizes="76x76" href="{{site.baseurl}}/assets/images/icons/apple-icon-76x76.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="{{site.baseurl}}/assets/images/icons/apple-icon-152x152.png" />
</head>
