{% assign skills = site.others | sort: 'level' | reverse %}
<section id="others" class="section others">
  <i class="section-icon icon-graduation-cap"></i>
  <span class="section-title">Others Skills</span>
  <ul class="skill-list">
    {% for skill in skills %}
      <li class="others-skill">
        <div class="expand others-level {% include _skill-level-css.html level=skill.level  %}"></div>
        <em>{{ skill.name }} - {% include _skill-level-name.html level=skill.level  %}</em>
      </li>
    {% endfor %}
  </ul>
</section>
