<!DOCTYPE html>
<html lang="{{ site.language | default: "en" }}">
  {% include head.html %}
  <body>
    {% include header.html %}

    <main>
      {% if site.bio %}
        {% include bio.html %}
      {% endif %}

      {% if site.front-end %}
        {% include front-end.html %}
      {% endif %}

      {% if site.back-end %}
        {% include back-end.html %}
      {% endif %}

      {% if site.mobile %}
        {% include mobile.html %}
      {% endif %}

      {% if site.db %}
        {% include db.html %}
      {% endif %}

      {% if site.devops %}
        {% include devops.html %}
      {% endif %}

      {% if site.methodologies %}
        {% include methodologies.html %}
      {% endif %}

      {% if site.others %}
        {% include others.html %}
      {% endif %}

      {% if site.email %}
        {% include contact.html %}
      {% endif %}
    </main>
    {% include footer.html %}
  </body>
</html>
